*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#fff;
}

.container{
max-width:430px;
margin:auto;
padding:20px;
}

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:30px;
}

.profile{
width:42px;
height:42px;
border-radius:50%;
background:#4f8900;
color:#fff;
display:flex;
align-items:center;
justify-content:center;
font-weight:700;
}

h1{
font-size:38px;
font-weight:700;
margin-bottom:8px;
}

.subtitle{
color:#777;
margin-bottom:30px;
}

.card{
border:1px solid #e5e5e5;
border-radius:18px;
padding:22px;
margin-bottom:16px;
}

.card p{
color:#777;
margin-bottom:10px;
}

.card h2{
font-size:40px;
margin-bottom:10px;
}

.card span{
color:#666;
}

.section-title{
margin-top:30px;
margin-bottom:20px;
font-size:24px;
}

.action-card{
border:1px solid #e5e5e5;
border-radius:18px;
padding:24px;
margin-bottom:16px;
cursor:pointer;
font-size:18px;
font-weight:600;
}
